.gamesFilterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
}

.games-filter-buttons-light {
  color: black;
}
.gamesFilterMain-light {
  background-color: whitesmoke;
}
