.reviewListMain {
  width: 100%;
  margin-bottom: 20px;
}

.reviewContainer {
  margin-bottom: 15px;
}

.itemReview {
  background-color: #2d3035;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  width: 100%;
  color: whitesmoke;
}

.tittleGames {
  display: flex;
  align-items: center;
  color: whitesmoke;
}

.scoreR {
  text-align: right;
}

.reviewListUser {
  width: 65%;
  background-color: #212529;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.conteinerReview {
  display: flex;
  justify-content: center;
  align-items: center;
}
