.Game-filter select {
  border: none;
  background-color: none;
  background: none;
  color: whitesmoke;
  margin-left: 30px;
  padding: 1vh;
}

.select-style option {
  background-color: #292c31;
  color: whitesmoke;
  border: none;
}

.Game-filter {
  display: flex;
}

.icon {
  color: coral;
}

.GameFilterMain {
  display: flex;
  min-width: 8ovh;
  max-width: 8ovh;
  margin: 2vh;
  margin-left: 2vh;
}
