.Game-filter select {
  border: none;
  background-color: none;
  background: none;
  color: whitesmoke;
  margin-left: 30px;
  padding: 1vh;
}
.Game-filter-light select {
  border: none;
  background-color: none;
  background: none;
  color: black;
  margin-left: 30px;
  padding: 1vh;
}
.Game-filter-light option {
  background-color: #292c31; /* Establecer el fondo de las opciones */
  color: black;
  border: none; /* Establecer el color del texto de las opciones */
}
